/* *{
    width: ancho;
    height: alto;
    border: 2px solid red;
    padding: 10px;
    margin: 10px; 
} */

body {
  font-family: "Allerta", sans-serif;
  margin: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
  background: #273b47;
  color: white;
  padding: 10px 20px;
}

td {
  padding: 20px;
}

table,
td,
th {
  border: #273b47 1px solid;
  border-collapse: collapse;
}

input,
textarea {
  outline: 0;
}

input:focus,
textarea:focus {
  background: lightgray;
}

.contenedor {
  width: 800px;
  margin: auto;
  position: relative;
}

.background {
  background-image: url("../images/background.png");
  background-size: cover;
}
.titulo {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
  margin-top: 80px;
}
.titulo span {
  text-decoration: underline;
}
.title-a {
  font-size: 24px;
  margin-top: 0px;
}

.title-b {
  font-size: 50px;
}

.portada {
  color: white;
  padding: 20px;
  height: 500px;
}
.portada button {
  margin-bottom: 70px;
}
.guitarras h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

.guitarras {
  color: #1f313c;
  margin-bottom: 60px;
}

.contenedor-guitarra-a {
  padding-left: 20px;
}

.contenedor-guitarra-b {
  margin-left: 370px;
  position: relative;
  bottom: 60px;
}

.guitarra {
  padding: 10px;
  margin: 10px 10px 40px 10px;
  /* overflow: hidden; */
  border: 1px solid #1f313c;
  position: relative;
  border-radius: 8px;
  height: 230px;
}

.guitarra ol {
  padding: 0;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}

.derecha {
  float: right;
  position: relative;
  top: -110px;
}

.izquierda {
  float: left;
  position: relative;
  top: 20px;
}

.header {
  position: relative;
}

.button {
  border-radius: 8px;
  /* background: #fd324e; */
  color: white;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  /* background: linear-gradient(to left, #fe344e, #ff7250); */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+50,ea2803+51,ff6600+75,c72200+100;Red+Gloss */
  background: #f3c5bd; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #f3c5bd 0%,
    #e86c57 50%,
    #ea2803 51%,
    #ff6600 75%,
    #c72200 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #f3c5bd 0%,
    #e86c57 50%,
    #ea2803 51%,
    #ff6600 75%,
    #c72200 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #f3c5bd 0%,
    #e86c57 50%,
    #ea2803 51%,
    #ff6600 75%,
    #c72200 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f3c5bd",
      endColorstr="#c72200",
      GradientType=0
    ); /* IE6-9 */
}

.footer {
  background: #273b47;
  padding: 20px 30px;
}
.contacto {
  display: flex;
  width: 330px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  height: 180px;
}
.contacto img {
  display: block;
}

.contacto span {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.formulario {
  display: flex;
  width: 400px;
  color: white;
}

.formulario label,
.intereses {
  margin-bottom: 10px;
}
.sexo {
  margin-bottom: 10px;
  margin-top: 10px;
}

.col1,
.col2 {
  display: flex;
  flex-direction: column;
}

.col1 {
  margin-right: 15px;
  align-items: stretch;
}

.col2 {
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px;
}

.intereses label {
  font-size: 12px;
}

.table {
  margin: 50px 0px;
}
